*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Uebung/Parkhaus1/nbproject/private/
/Uebung/ParkingGarage/nbproject/private/
/Uebung/ParkingGarage/build/
/Uebung/ParkingGarage2/nbproject/private/
/Uebung/ParkingGarage2/build/
/Uebung/MagicSquare/nbproject/private/
/Uebung/MagicSquare/build/
/Uebung/MagicSquare/dist/
/Uebung/SocketServer/nbproject/private/
/Uebung/SocketClient/nbproject/private/